/*! normalize.css версії 8.0.1 | Ліцензія MIT | github.com/necolas/normalize.css */

/* Документ
   ====================================================================== */

/**
 * 1. Виправити висоту рядка у всіх браузерах.
 * 2. Запобігання коригуванню розміру шрифту після зміни орієнтації в iOS.
 */

html {
  висота рядка: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Розділи
   ====================================================================== */

/**
 * Видалити поля у всіх браузерах.
 */

тіло {
  маржа: 0;
}

/**
 * Забезпечити послідовне відображення елемента `main` в IE.
 */

основний {
  дисплей: блок;
}

/**
 * Виправте розмір шрифту та поля для елементів `h1` у `section` та
 * контексти `article` у Chrome, Firefox та Safari.
 */

h1 {
  розмір шрифту: 2em;
  відстань: 0,67 м 0;
}

/* Групування вмісту
   ====================================================================== */

/**
 * 1. Додайте правильне значення розміру блоку у Firefox.
 * 2. Показати переповнення в Edge та IE.
 */

год {
  розмір-боксу: content-box; /* 1 */
  висота: 0; /* 1 */
  переповнення: видиме; /* 2 */
}

/**
 * 1. Виправити успадкування та масштабування розміру шрифту у всіх браузерах.
 * 2. Виправити непарний розмір шрифту `em` у всіх браузерах.
 */

попередньо {
  сімейство шрифтів: моноширинний, моноширинний; /* 1 */
  розмір-шрифту: 1em; /* 2 */
}

/* Семантика на рівні тексту
   ====================================================================== */

/**
 * Видалити сірий фон активних посилань в IE 10.
 */

а {
  колір фону: прозорий;
}

/**
 * 1. Видалити нижню рамку в Chrome 57-
 * 2. Додайте правильне оформлення тексту в Chrome, Edge, IE, Opera та Safari.
 */

скорочено[назва] {
  нижня межа: немає; /* 1 */
  оформлення тексту: підкреслення; /* 2 */
  оформлення тексту: підкреслення пунктирним; /* 2 */
}

/**
 * Додайте правильну товщину шрифту в Chrome, Edge та Safari.
 */

б,
сильний {
  вага-шрифту: жирніший;
}

/**
 * 1. Виправити успадкування та масштабування розміру шрифту у всіх браузерах.
 * 2. Виправити непарний розмір шрифту `em` у всіх браузерах.
 */

код,
кбд,
самп {
  сімейство шрифтів: моноширинний, моноширинний; /* 1 */
  розмір-шрифту: 1em; /* 2 */
}

/**
 * Додайте правильний розмір шрифту у всіх браузерах.
 */

маленький {
  розмір шрифту: 80%;
}

/**
 * Запобігання впливу елементів `sub` та `sup` на висоту рядка в
 * усі браузери.
 */

підрядник,
суп {
  розмір шрифту: 75%;
  висота рядка: 0;
  положення: відносне;
  вертикальне вирівнювання: базова лінія;
}

підрядок {
  знизу: -0,25 ем;
}

суп {
  зверху: -0,5 ем;
}

/* Вбудований контент
   ====================================================================== */

/**
 * Видалити рамку зображень всередині посилань в IE 10.
 */

зображення {
  стиль межі: немає;
}

/* Форми
   ====================================================================== */

/**
 * 1. Змініть стилі шрифтів у всіх браузерах.
 * 2. Видаліть поля у Firefox та Safari.
 */

кнопка,
вхід,
оптгрупа,
вибрати,
текстове поле {
  сімейство-шрифтів: успадкувати; /* 1 */
  розмір-шрифту: 100%; /* 1 */
  висота рядка: 1.15; /* 1 */
  поле: 0; /* 2 */
}

/**
 * Показати переповнення в IE.
 * 1. Показати переповнення в Edge.
 */

кнопка,
вхід { /* 1 */
  переповнення: видиме;
}

/**
 * Видалено успадкування текстових перетворень в Edge, Firefox та IE.
 * 1. Видалити успадкування текстових перетворень у Firefox.
 */

кнопка,
вибрати { /* 1 */
  перетворення тексту: немає;
}

/**
 * Виправлено неможливість стилізації клікабельних типів в iOS та Safari.
 */

кнопка,
[тип="кнопка"],
[тип="скинути"],
[type="надіслати"] {
  -webkit-appearance: кнопка;
}

/**
 * Видаліть внутрішню рамку та відступи у Firefox.
 */

кнопка::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="скинути"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  стиль межі: немає;
  відступ: 0;
}

/**
 * Відновити стилі фокусування, скасовані попереднім правилом.
 */

кнопка: -moz-фокусування,
[type="button"]:-moz-фокусування,
[type="скидання"]:-moz-фокусування,
[type="submit"]:-moz-focusring {
  контур: 1px пунктирний ButtonText;
}

/**
 * Виправте відступи у Firefox.
 */

набір полів {
  відступи: 0,35 ем 0,75 ем 0,625 ем;
}

/**
 * 1. Виправити обтікання тексту в Edge та IE.
 * 2. Виправити успадкування кольорів від елементів `fieldset` в IE.
 * 3. Видаліть заповнення, щоб розробники не були спіймані під час обнулення
 * Елементи `fieldset` у всіх браузерах.
 */

легенда {
  зміна розміру поля: border-box; /* 1 */
  колір: успадкувати; /* 2 */
  відображення: таблиця; /* 1 */
  максимальна ширина: 100%; /* 1 */
  відступ: 0; /* 3 */
  пробіли: звичайні; /* 1 */
}

/**
 * Додано правильне вертикальне вирівнювання в Chrome, Firefox та Opera.
 */

прогрес {
  вертикальне вирівнювання: базова лінія;
}

/**
 * Вилучено стандартну вертикальну смугу прокручування в IE 10+.
 */

текстове поле {
  переповнення: авто;
}

/**
 * 1. Додайте правильне значення розміру блоку в IE 10.
 * 2. Видаліть відступи в IE 10.
 */

[тип="прапорець"],
[type="радіо"] {
  зміна розміру поля: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Виправлено стиль курсора кнопок збільшення та зменшення в Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  висота: автоматична;
}

/**
 * 1. Виправте дивний вигляд у Chrome та Safari.
 * 2. Виправте стиль контуру в Safari.
 */

[тип="пошук"] {
  -webkit-appearance: текстове поле; /* 1 */
  зміщення контуру: -2px; /* 2 */
}

/**
 * Видаліть внутрішню підкладку в Chrome та Safari на macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: немає;
}

/**
 * 1. Виправлено неможливість стилізації інтерактивних типів в iOS та Safari.
 * 2. Змініть властивості шрифту на `inherit` у Safari.
 */

::-webkit-файл-завантаження-кнопка {
  -webkit-appearance: кнопка; /* 1 */
  шрифт: успадкувати; /* 2 */
}

/* Інтерактивний
   ====================================================================== */

/*
 * Додано правильне відображення в Edge, IE 10+ та Firefox.
 */

деталі {
  дисплей: блок;
}

/*
 * Додано правильне відображення у всіх браузерах.
 */

короткий зміст {
  відображення: елемент-списку;
}

/* Різне
   ====================================================================== */

/**
 * Додано правильне відображення в IE 10+.
 */

шаблон {
  дисплей: немає;
}

/**
 * Додано правильне відображення в IE 10.
 */

[приховано] {
  дисплей: немає;
}